@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&family=Montserrat+Alternates&family=Montserrat:wght@300&family=Playfair+Display&display=swap');

/* font-family: 'Josefin Slab', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Playfair Display', serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background-color: #c87e6b;
    height: 99px;
    display: flex;
    align-items: center;
    padding: 0 56px;
    position: relative;
}

.logo,
.menu_items,
.icons {
    display: inline-block;
    color: #e7e4db;
    cursor: pointer;
}

.logo {
    width: 150px;
    height: 43px;
}

.menu {
    margin: 0 auto;
}

.menu_items {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 11px;
    padding-right: 37px;
    padding-left: 37px;
    text-transform: uppercase;
}

.icons {
    margin-left: auto;
    padding-left: 32px;
}

.border {
    border: 2px solid #e9e5da;
    border-radius: 17px;
    padding: 13px 17px;
}

.wrapper {
    display: flex;
    position: relative;
}

.container {
    background-color: #e2ded2;
    background-image: url(Images/Texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 801px;
}

.img {
    background-image: url(Images/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding-top: 200px;
}

.title {
    
    font-family: "Playfair Display";
    font-size: 58px;
    color: #484a4b;
    letter-spacing: 1px;
    line-height: 53px;
}

.subtitile {
    font-size: 25px;
    line-height: 97px;
    color: #765a33;
    font-weight: 600;
    font-family: "Montserrat Alternates";
}

.body {
    padding: 0 110px;
    font-size: 25px;
    line-height: 29px;
    color: #765a33;
    font-weight: 400;
    font-family: "Josefin Slab"
}

.bottom {
    display: flex;
    padding-top: 63px;
    justify-content: center;
    align-items: center;
}

.button {
    border: none;
    font-size: 13px;
    width: 76px;
    height: 31px;
    line-height: 19px;
    border-radius: 15px;
    background-color: #787878;
    color: #e7e4db;
    margin-right: 9px;
    text-transform: uppercase;
}

.text {
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 19px;
    color: #484a4b;
    font-weight: 700;
    font-family: "Montserrat Alternates";
    margin-left: 9px;
    text-transform: uppercase;
}



.numbers{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 17rem;
    background-color: #765a33;
    font-size: 48px;
    letter-spacing: 1px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Playfair Display";
}
.info{
    font-size: 17px;
    letter-spacing: 1px;
    padding-top: 11px;
    font-weight: 500;
    font-family: "Montserrat Alternates";
}
sup{
    font-weight: 100;
    vertical-align: bottom;
}
.pos-abs{
    position: absolute;
}
.wrapperleaf1{
    bottom: -149px;
    left: -60px;
}
.wrapperleaf2{
    left: 40%;
    top: 10%;
}
.products{
    text-align: center;
    padding-bottom: 180px;
    position: relative;
}
.main{
    background-color: #e2ded2;
    background-image: url(Images/Texture.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.product-title{
    padding: 0 130px;
    padding-top: 100px;
    font-size: 57px;
letter-spacing: 1px;
line-height: 53px;
color: #484a4b;
font-weight: 700;
font-family: "Playfair Display";
}
.product-info{
    font-size: 25px;
line-height: 97px;
color: #765a33;
font-weight: 700;
font-family: "Montserrat Alternates";
padding-bottom: 75px;
}
.productleaf1{
    left: 55px;
    top: 85px;
}
.productleaf2{
    right: 55px;
    top: 85px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
   position: relative;
}
.card{
    position: relative;
    width: 313px;
    margin: 2%;
    filter: drop-shadow(0px 7px 9px rgba(0,0,0,0.19));
    background-color: #e6e3da;
}
.card-info{
    padding-top: 30px;
    
}
.card-logo img{
    width: 100%;
}
.card-title{
    font-size: 29px;
    letter-spacing: 1px;
    line-height: 27px;
    color: #484a4b;
    font-weight: 700;
    font-family: "Playfair Display";
}
.card-subinfo{
    padding: 0 40px;
    font-size: 13px;
    line-height: 17px;
    color: #765a33;
    font-weight: 400;
    font-family: "Montserrat Alternates";
    text-align: left;
    margin: 10px auto;
}
.read-button{
    margin-bottom: 20px;
    padding: 5px;
    margin-top: 15px;
    width: 104px;
    height: 25px;
    border-radius: 12px;
    background-color: #454545;
    font-size: 10px;
    letter-spacing: 0px;
    line-height: 10px;
    color: #e6e3da;
    font-weight: 400;
    font-family: "Montserrat Alternates";
    text-transform: uppercase;
}
.heart{
    position: absolute;
    top: 325px;
    right: 14px;
}
.product_bottom_leaf1{
    left: 15%;
    top: 25px;
    rotate: 280deg;
}
.product_bottom_leaf2{
    right: 15%;
    top: 25px;
    rotate: 90deg;
}
.slider_button{
    position: absolute;
    width: 100%;

}
.product_slider_button1{
    left: 35%;
}
.product_slider_button2{
    right: 35%;
}
.process_title{
    font-size: 58px;
letter-spacing: 1px;
line-height: 53px;
color: #484a4b;
font-weight: 700;
font-family: "Playfair Display";
text-align: center;
}
.process_sub_title{
    font-size: 25px;
line-height: 97px;
color: #765a33;
font-weight: 700;
font-family: "Montserrat Alternates";
text-align: center;
}
.process_video{
    width: 100%;
    /* left: 210px; */
    text-align: center;
    padding-top: 122px;
    /* padding-bottom: 197px; */
    /* padding-left: 100px; */
    /* padding-right: 100px; */
    position: absolute;
}
.bouquet_making_video{
    width: 70%;
}
.process{
    position: relative;
}
.process_rectangle1{
    top: 215px;
    right: 150px;
}
.process_rectangle2{
    top: 660px;
    left: 170px;
}
.process_leaf1{
    top: 10px;
    left: -100px;
}
.process_leaf2{
    top: 710px;
    /* right: -78px; */
    rotate: 304deg;
}